@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

a {
    color: #495428;
}

.marginauto {
    margin: 0 auto;
    display: block;
}

.container, .sign-off, .hero {
  padding: 3em;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar {
  background: white;
  padding: 1em;

}

nav ul {
  display: flex;
}

nav li {
  flex: auto ;
}

.hero{
  background: #EFF2F6;
}

section.footer{
  background: #444444;
  box-shadow: 0 50vh 0 50vh #444444;
}

.foot-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
}
