@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

a {
    color: #555555;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 1em;
  font-family: "Montserrat";
}

.navbar {
  background: white;
  padding: 1em;
  }
}

.hero{
  background: #EFF2F6;
  text-align: center;
}

.foot-container{
  display: grid | inline-grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: auto;
}

section.footer{
  background: #444444;
}
