@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

a {
    color: #555555;
}

.marginauto {
    margin: 0 auto;
    display: block;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar {
  background: white;
  padding: 1em;
  }
}

.hero{
  background: #EFF2F6;
  text-align: center;
}

section.footer{
  background: #444444;
}

.foot-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 3em;
  justify-items: center;
}
